body{margin: 0px;}
.main {
    font-size: 11px;
    text-align: center;
    float: left;
    padding: 13px 6px 20px 6px;

}
.logo {
    height: 16px;
    background-image:url(../images/eko-kids.jpg);
    background-size:100% 100%;
}
.size {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    background-color: #33ff00;
    border-radius: 36px;
    display: inline-block;
    vertical-align: baseline;
    padding: 4px;
}
#lines p:last-child{
    height: 17px;
    background-image:url(../images/footer.jpg);
    background-size:100% 100%;
}
p {
    margin: 0px 2px;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
}
@media print {
    .page{
        max-height: 790px;
        overflow: hidden;
    }
    @page {
        size: landscape;
        margin: 0px;
        -webkit-print-color-adjust: exact;
    }
}